html, body {
    width: 320px;
    height: 240px;
    max-width: 320px;
    max-height: 240px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
}